:root{
    --color-primario: rgb(81, 95, 92);
    --color-secundario: rgb(216, 215, 215);
    --color-ternario: rgb(68, 68, 68);
    --color-cuarto: rgb(77, 64, 59);
    --color-letra-boton: rgb(185, 160, 136);
}
