:root{
    --color-titles:#ff702a;
    --color-leters: #fff;
    --color-body: #1e1d2b;
    --color-banner: #000;
    --color-body-banners: #ffefe8;
    --color-menu: #2c2b47;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap')
