<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CampusShop</title>
    <link rel="stylesheet" href="../css/styleCr.css">
</head>
<body>
    <section class="titles">
        <h1>CampusShop</h1>
        <ul>
            <li class="p1">
                <a href="/views/todosProductos.html">Todos los productos</a>
            </li>
            <li class="p2">
                <a href="/views/seccion1.html">Abrigos</a>
            </li>
            <li class="p3">
                <a href="/views/seccion2.html">Camisetas</a>
            </li>
            <li class="p4">
                <a href="/views/seccion3.html">Pantalones</a>
            </li>
            <li class="p5">
                <a href="/views/carrito.html">Carritos <button>2</button></a>
            </li>
        </ul>
    </section>
    <section class="productos">
        <h1>Carrito</h1>
        <div class="todo">
            <div class="producto">
                <div class="ropa">
                    <img src="../storage/img/pantalones/pantalon1.png">
                </div>
                <div class="descrip">
                    <div><p>Pantalon En Dril Unisex 'Cafe'.</p></div>
                    <div><p>Cantidad <br><button>2</button></p></div>
                    <div><p>Precio <br> $58.900</p></div>
                    <div><p>Subtotal <br> $ 117.800</p></div>
                    <div><button><a href="../views/carritoE5.html"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAALBJREFUSEtjZKAxYKSx+Qx4LdixsMOf8T9DBwMDgwYOh1xn/P+vxC2xahsuh+K1YOeCjhcMDAziBHx5zz2hQplcC/6DNLonVGB1yM4FHXjlQXoJ+YC6FsBcRGnEI/sYxQc0twDmcmLCFtmX+NSTHXmjFhBM36NBNBpE8DQwfDPaQwYGBjkSS9UH7gkViuh6sAYRuKpkYOhk+M+gTpwl/y8x/v9fia3qHNhKnzjX41cFAFO1lRk5mSpeAAAAAElFTkSuQmCC"/></a></button></div> 
                </div>
            </div>
            <div class="producto">
                <div class="ropa">
                    <img src="../storage/img/camisetas/camiseta3.png">
                </div>
                <div class="descrip">
                    <div><p>Camiseta estilo basico 'Negra y Blanco'.</p></div>
                    <div><p>Cantidad <br><button>1</button></div>
                    <div><p>Precio <br> $29.900</p></div>
                    <div><p>Subtotal <br> $ 29.900</p></div>
                    <div><button><a href="../views/carritoE4.html"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAALBJREFUSEtjZKAxYKSx+Qx4LdixsMOf8T9DBwMDgwYOh1xn/P+vxC2xahsuh+K1YOeCjhcMDAziBHx5zz2hQplcC/6DNLonVGB1yM4FHXjlQXoJ+YC6FsBcRGnEI/sYxQc0twDmcmLCFtmX+NSTHXmjFhBM36NBNBpE8DQwfDPaQwYGBjkSS9UH7gkViuh6sAYRuKpkYOhk+M+gTpwl/y8x/v9fia3qHNhKnzjX41cFAFO1lRk5mSpeAAAAAElFTkSuQmCC"/></a></button></div>
                </div>
            </div>
            <div class="footer">
                <div class="f1">
                <button><a href="../views/carritoVacio.html">Vaciar carrito</a></button>
                </div>
                <div class="f2">
                    <p>Total <br>$147.700</p>
                    <button>Comprar Ahora</button>
                </div>
            </div>
        </div>
    </section>
</body>
</html>