<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
</head>
<body>
    <div class="container">
        <div id="home" class="home">
            <header>
                <div class="title">
                    <p>Foods</p>
                </div>
                <div class="links">
                    <label for="menu_ham" class="labe_ham">
                        <img class="abrir" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAFJJREFUSEtjZKAxYKSx+QyjFhAMYfoH0f8Crf8EnYVHAeOEayiOxvABzS2gxPXY9NI/DmjuA5rHAc0toHkQDX0LaB4HNLdg6MfBqA/QQ4DmpSkAVTYYGc3dJ+4AAAAASUVORK5CYII="/>
                    </label>
                    <input class="menu_ham" type="checkbox" name="" id="menu_ham">
                    <ul class="ul_links">
                        <li class="li_links"><a class="link" href="#home">Home</a></li>
                        <li class="li_links"><a class="link" href="#about">About</a></li>
                        <li class="li_links"><a class="link" href="#menu">Menu</a></li>
                        <li class="li_links"><a class="link" href="#service">Service</a></li>
                        <li class="li_links"><a class="link" href="#contact">Contact</a></li>
                    </ul>
                </div>
            </header>
            <div class="website">
                <div class="dere">
                    <h2>Full Website</h2>
                    <p>Foods the</p>
                    <p>Most precious thing</p>
                    <button class="boton">Today's Menu</button>
                </div>
                <div class="izq">
                    <img src="../storage/img/home.png">
                </div>
            </div>
        </div>
        <div id="about" class="about">
            <div class="izq">
                <img src="../storage/img/about.png">
            </div>
            <div class="dere">
                <h4 class="mini">About Us</h4>
                <h1 class="big">We speak the good food language</h1>
                <p>It is a long established fact that a be distracted by the readable content looking at its layout. The point of</p>
                <button class="boton">Learn More</button>
            </div>
        </div>
        <div id="menu" class="menu">
            <div class="titles">
                <h4 class="mini">Food Menu</h4>
                <h1 class="big">Fresh taste and grat price</h1>
            </div>
            <div class="cuadros">
                <div class="cuadro">
                    <img src="../storage/img/food1.png">
                    <h1>Chiken Burger</h1>
                    <h2>Tasty Food</h2>
                    <h3>$11.00</h3>
                </div>
                <div class="cuadro">
                    <img src="../storage/img/food2.png">
                    <h1>Special Beef Burger</h1>
                    <h2>Tasty Food</h2>
                    <h3>$11.00</h3>
                </div>
                <div class="cuadro">
                    <img src="../storage/img/food3.png">
                    <h1>Chiken Fry Pack</h1>
                    <h2>Tasty Food</h2>
                    <h3>$11.00</h3>
                </div>
            </div>
        </div>
        <div id="service" class="service">
            <div id="menu" class="menu">
                <div class="titles">
                    <h4 class="mini">Services</h4>
                    <h1 class="big">We provide best food services</h1>
                </div>
                <div class="cuadros">
                    <div class="cuadro">
                        <img src="../storage/img/s1.png">
                        <h3>Order</h3>
                        <h1>It is a long established be distracted by the readable looking at its layout. </h1>
                    </div>
                    <div class="cuadro">
                        <img src="../storage/img/s2.png">
                        <h3>Shipping</h3>
                        <h1>It is a long established be distracted by the readable looking at its layout. </h1>
                    </div>
                    <div class="cuadro">
                        <img src="../storage/img/s3.png">
                        <h3>Dellvered</h3>
                        <h1>It is a long established be distracted by the readable looking at its layout. </h1>
                    </div>
                </div>
            </div>
        </div>
        <div id="contact" class="contact">
            <div class="banner">
                <h1 class="big">We make quality food Everyday</h1>
                <button class="boton">Learn More</button>
            </div>
        </div>
        <div id="footer" class="footer">
            <div class="menulinks">
                <h4 class="titu">Menu Links</h4>
                <p class="bar">──────</p>
                <div class="linksf">
                    <button class="words"><a href="#home">Home</a></button>
                    <button class="words"><a href="#about">About</a></button>
                    <button class="words"><a href="#menu">Menu</a></button>
                    <button class="words"><a href="#service">Service</a></button>
                    <button class="words"><a href="#contact">Contact</a></button>
                </div> 
            </div>
            <div class="menulinks1">
                <h4 class="titu">Our Service</h4>
                <p class="bar">──────</p>
                <p class="words">Web Design</p>
                <p class="words">Web Development</p>
                <p class="words">Marketing</p>
                <p class="words">Product Management</p>
                <p class="words">Graphic Design</p>
            </div>
            <div class="menulinks1">
                <h4 class="titu">Information</h4>
                <p class="bar">──────</p>
                <button class="words"><a href="#about">About Us</a></button>
                <p class="words">Delivery Information</p>
                <p class="words">Privacy Policy</p>
                <p class="words">Terms & Conditions</p>
                <p class="words">Graphic Design</p>
            </div>
            <div class="menulinks2">
                <h4 class="titu">Contact Us</h4>
                <p class="bar">──────</p>
                <img class="redes" src="../storage/img/redes.png">
            </div>
        </div>
    </div>
</body>
</html> 