<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
</head>
<body>
    <div class="container">
        <div id="home" class="home">
            <header>
                <div class="title">
                    <p>Foods</p>

                </div>
                <div class="links">
                    <button><a href="#home">Home</a></button>
                    <button><a href="#about">About</a></button>
                    <button><a href="#">Menu</a></button>
                    <button><a href="#">Service</a></button>
                    <button><a href="#">Contact</a></button>    
                </div>
            </header>
            <div class="website">
                <div class="dere">
                    <h2>Full Website</h2>
                    <p>Foods the</p>
                    <p>Most precious thing</p>
                    <button>Today's Menu</button>
                </div>
                <div class="izq">
                    <img src="../storage/img/home.png">
                </div>
            </div>
        </div>
        <div id="about" class="about">caja 2</div>
        <div id="menu" class="menu">caja 3</div>
        <div id="service" class="service">caja 4</div>
        <div id="contact" class="contact">caja 5</div>
        <div id="footer" class="footer">caja 6</div>
    </div>
</body>
</html> 