<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CampusShop</title>
    <link rel="stylesheet" href="../css/styleP.css">
</head>
<body>
    <section class="titles">
        <h1>CampusShop</h1>
        <ul>
            <li class="p1">
                <a href="/views/todosProductos.html">Todos los productos</a>
            </li>
            <li class="p2">
                <a href="/views/seccion1.html">Abrigos</a>
            </li>
            <li class="p3">
                <a href="/views/seccion2.html">Camisetas</a>
            </li>
            <li class="p4">
                <a href="/views/seccion3.html">Pantanoles</a>
            </li>
            <li class="p5">
                <a href="/views/carrito.html">Carritos <button>3</button></a>
            </li>
        </ul>
    </section>
    <section class="productos">
        <h1>Pantalones</h1>
        <div class="todo">
            <div class="producto">
                <div class="ropa2">
                    <img src="../storage/img/pantalones/pantalon1.png">
                </div>
                <div class="descrip">
                    <p>Pantalon En Dril Licrado Para Hombre.</p>
                    <p>$58.900</p>
                    <button>Agregar</button>
                </div>
            </div>
            <div class="producto">
                <div class="ropa">
                    <img src="../storage/img/pantalones/pantalon2.png">
                </div>
                <div class="descrip">
                    <p>Pantalón Camuflado Hermoso.</p>
                    <p>$104.500</p>
                    <button>Agregar</button>
                </div>
            </div>
            <div class="producto">
                <div class="ropa2">
                    <img src="../storage/img/pantalones/pantalon3.png">
                </div>
                <div class="descrip">
                    <p>Pantalón Jogger Cargo, Táctico, Militar.</p>
                    <p>$104.500</p>
                    <button>Agregar</button>
                </div>
            </div>
            <div class="producto">
                <div class="ropa2">
                    <img src="../storage/img/pantalones/pantalon4.png">
                </div>
                <div class="descrip">
                    <p>Pantalón Jeans De Colores Entubado Para Hombre.</p>
                    <p>$61.750</p>
                    <button>Agregar</button>
                </div>
            </div>
            <div class="producto">
                <div class="ropa2">
                    <img src="../storage/img/pantalones/pantalon5.png">
                </div>
                <div class="descrip">
                    <p>Pantalon Camuflado, De Bolsillos 100% Dreal</p>
                    <p>$89.990</p>
                    <button>Agregar</button>
                </div>
            </div>
        </div>
    </section>
</body>
</html>