<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CampusShop</title>
    <link rel="stylesheet" href="../css/styleA.css">
</head>
<body>
    <section class="titles">
        <h1>CampusShop</h1>
        <ul>
            <li class="p1">
                <a href="/views/todosProductos.html">Todos los productos</a>
            </li>
            <li class="p2">
                <a href="/views/seccion1.html">Abrigos</a>
            </li>
            <li class="p3">
                <a href="/views/seccion2.html">Camisetas</a>
            </li>
            <li class="p4">
                <a href="/views/seccion3.html">Pantalones</a>
            </li>
            <li class="p5">
                <a href="/views/carrito.html">Carritos <button>3</button></a>
            </li>
        </ul>
    </section>
    <section class="productos">
        <h1>Abrigos</h1>
        <div class="todo">
            <div class="producto">
                <div class="ropa">
                    <img src="../storage/img/abrigos/abrigo1.png">
                </div>
                <div class="descrip">
                    <p> Buzo estilo de gato 'Blanco con negro'</p>
                    <p>$93.900</p>
                    <button>Agregar</button>
                </div>                
            </div>
            <div class="producto">
                <div class="ropa">
                    <img src="../storage/img/abrigos/abrigo2.png">
                </div>
                <div class="descrip">
                    <p>Buzo estilo de oso coreano 'Cafe claro'</p>
                    <p>$93.900</p>
                    <button>Agregar</button>
                </div>
            </div>
            <div class="producto">
                <div class="ropa">
                    <img src="../storage/img/abrigos/abrigo3.png">
                </div>
                <div class="descrip">
                    <p>Gabán Para Dama estilo Mob Wife 'Negro'</p>
                    <p>$93.900</p>
                    <button>Agregar</button>
                </div>
            </div>
            <div class="producto">
                <div class="ropa">
                    <img src="../storage/img/abrigos/abrigo4.png">
                </div>
                <div class="descrip">
                    <p>Buzo Hombre estilo Hip Hop 'Negro y gris'.</p>
                    <p>$102.000</p>
                    <button>Agregar</button>
                </div>
            </div>
            <div class="producto">
                <div class="ropa">
                    <img src="../storage/img/abrigos/abrigo5.png">
                </div>
                <div class="descrip">
                    <p>Buzo Hombre estilo Hip Hop 'Negro y Blanco'.</p>
                    <p>$77.900</p>
                    <button>Agregar</button>
                </div>
            </div>
        </div>
    </section>
</body>
</html>