<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CampusShop</title>
    <link rel="stylesheet" href="../css/styleTD.css">
</head>
<body>
    <section class="titles">
        <h1>CampusShop</h1>
        <ul>
            <li class="p1">
                <a href="/views/todosProductos.html">Todos los productos</a>
            </li>
            <li class="p2">
                <a href="/views/seccion1.html">Abrigos</a>
            </li>
            <li class="p3">
                <a href="/views/seccion2.html">Camisetas</a>
            </li>
            <li class="p4">
                <a href="/views/seccion3.html">Pantanoles</a>
            </li>
            <li class="p5">
                <a href="/views/carrito.html">Carritos <button>3</button></a>
            </li>
        </ul>
    </section>
    <section class="productos">
        <h1>Todos los productos</h1>
        <div class="todo">
            <div class="producto">
                <div class="ropa">
                    <img src="../storage/img/abrigos/abrigo1.png">
                </div>
                <div class="descrip">
                    <p>Chaqueta Impermeable En Gabán Para Dama 'Azul'</p>
                    <p>$93.900</p>
                    <button>Agregar</button>
                </div>                
            </div>
            <div class="producto">
                <div class="ropa">
                    <img src="../storage/img/abrigos/abrigo2.png">
                </div>
                <div class="descrip">
                    <p>Chaqueta Impermeable En Gabán Para Dama 'Negro'</p>
                    <p>$93.900</p>
                    <button>Agregar</button>
                </div>
            </div>
            <div class="producto">
                <div class="ropa">
                    <img src="../storage/img/abrigos/abrigo3.png">
                </div>
                <div class="descrip">
                    <p>Chaqueta Impermeable En Gabán Para Dama 'Blanco'</p>
                    <p>$93.900</p>
                    <button>Agregar</button>
                </div>
            </div>
            <div class="producto">
                <div class="ropa">
                    <img src="../storage/img/abrigos/abrigo4.png">
                </div>
                <div class="descrip">
                    <p>Chaqueta Hombre Cuero Sintético 'Negro'.</p>
                    <p>$102.000</p>
                    <button>Agregar</button>
                </div>
            </div>
            <div class="producto">
                <div class="ropa">
                    <img src="../storage/img/abrigos/abrigo5.png">
                </div>
                <div class="descrip">
                    <p>Calidad Chaqueta Hombre Algodon Colombiano</p>
                    <p>$77.900</p>
                    <button>Agregar</button>
                </div>
            </div>
            <div class="producto">
                <div class="ropa">
                    <img src="../storage/img/camisetas/camiseta1.png">
                </div>    
                <div class="descrip">
                    <p>Camiseta De Compresión En Licra Uv Slim.</p>
                    <p>$38.000</p>
                    <button>Agregar</button>
                </div>
            </div>
            <div class="producto">
                <div class="ropa">
                    <img src="../storage/img/camisetas/camiseta2.png">
                </div>
                <div class="descrip">
                    <p>Camiseta Tipo Polo Color Dama Mujer.</p>
                    <p>$26.255</p>
                    <button>Agregar</button>
                </div>
            </div>
            <div class="producto">
                <div class="ropa">
                    <img src="../storage/img/camisetas/camiseta3.png">
                </div>
                <div class="descrip">
                    <p>Camiseta Deportiva, Crossfit, Gym 'Azul'.</p>
                    <p>$29.900</p>
                    <button>Agregar</button>
                </div>
            </div>
            <div class="producto">
                <div class="ropa1">
                    <img src="../storage/img/camisetas/camiseta4.png">
                </div>
                <div class="descrip">
                    <p>Camisetas Bandas De Rock Metal Heavy Riffs.</p>
                    <p>$32.850</p>
                    <button>Agregar</button>
                </div>
            </div>
            <div class="producto">
                <div class="ropa1">
                    <img src="../storage/img/camisetas/camiseta5.png">
                </div>
                <div class="descrip">
                    <p>Camiseta de Nezuko Kamad Demon Slayer</p>
                    <p>$29.900</p>
                    <button>Agregar</button>
                </div>
            </div>
            <div class="producto">
                <div class="ropa2">
                    <img src="../storage/img/pantalones/pantalon1.png">
                </div>
                <div class="descrip">
                    <p>Pantalon En Dril Licrado Para Hombre.</p>
                    <p>$58.900</p>
                    <button>Agregar</button>
                </div>
            </div>
            <div class="producto">
                <div class="ropa">
                    <img src="../storage/img/pantalones/pantalon2.png">
                </div>
                <div class="descrip">
                    <p>Pantalón Camuflado Hermoso.</p>
                    <p>$104.500</p>
                    <button>Agregar</button>
                </div>
            </div>
            <div class="producto">
                <div class="ropa2">
                    <img src="../storage/img/pantalones/pantalon3.png">
                </div>
                <div class="descrip">
                    <p>Pantalón Jogger Cargo, Táctico, Militar.</p>
                    <p>$104.500</p>
                    <button>Agregar</button>
                </div>
            </div>
            <div class="producto">
                <div class="ropa2">
                    <img src="../storage/img/pantalones/pantalon4.png">
                </div>
                <div class="descrip">
                    <p>Pantalón Jeans De Colores Entubado Para Hombre.</p>
                    <p>$61.750</p>
                    <button>Agregar</button>
                </div>
            </div>
            <div class="producto">
                <div class="ropa2">
                    <img src="../storage/img/pantalones/pantalon5.png">
                </div>
                <div class="descrip">
                    <p>Pantalon Camuflado, De Bolsillos 100% Dreal</p>
                    <p>$89.990</p>
                    <button>Agregar</button>
                </div>
            </div>
        </div>
    </section>
</body>
</html>