<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CampusShop</title>
    <link rel="stylesheet" href="../css/styleTD.css">
</head>
<body>
    <section class="titles">
        <h1>CampusShop</h1>
        <ul>
            <li class="p1">
                <a href="/views/todosProductos.html">Todos los productos</a>
            </li>
            <li class="p2">
                <a href="/views/seccion1.html">Abrigos</a>
            </li>
            <li class="p3">
                <a href="/views/seccion2.html">Camisetas</a>
            </li>
            <li class="p4">
                <a href="/views/seccion3.html">Pantalones</a>
            </li>
            <li class="p5">
                <a href="/views/carrito.html">Carritos <button>3</button></a>
            </li>
        </ul>
    </section>
    <section class="productos">
        <h1>Todos los productos</h1>
        <div class="todo">
            <div class="producto">
                <div class="ropa">
                    <img src="../storage/img/abrigos/abrigo1.png">
                </div>
                <div class="descrip">
                    <p> Buzo estilo de gato 'Blanco con negro'</p>
                    <p>$93.900</p>
                    <button>Agregar</button>
                </div>                
            </div>
            <div class="producto">
                <div class="ropa">
                    <img src="../storage/img/abrigos/abrigo2.png">
                </div>
                <div class="descrip">
                    <p>Buzo estilo de oso coreano 'Cafe claro'</p>
                    <p>$93.900</p>
                    <button>Agregar</button>
                </div>
            </div>
            <div class="producto">
                <div class="ropa">
                    <img src="../storage/img/abrigos/abrigo3.png">
                </div>
                <div class="descrip">
                    <p>Gabán Para Dama estilo Mob Wife 'Negro'</p>
                    <p>$93.900</p>
                    <button>Agregar</button>
                </div>
            </div>
            <div class="producto">
                <div class="ropa">
                    <img src="../storage/img/abrigos/abrigo4.png">
                </div>
                <div class="descrip">
                    <p>Buzo Hombre estilo Hip Hop 'Negro y gris'.</p>
                    <p>$102.000</p>
                    <button>Agregar</button>
                </div>
            </div>
            <div class="producto">
                <div class="ropa">
                    <img src="../storage/img/abrigos/abrigo5.png">
                </div>
                <div class="descrip">
                    <p>Buzo Hombre estilo Hip Hop 'Negro y Blanco'.</p>
                    <p>$77.900</p>
                    <button>Agregar</button>
                </div>
            </div>
            <div class="producto">
                <div class="ropa">
                    <img src="../storage/img/camisetas/camiseta1.png">
                </div>    
                <div class="descrip">
                    <p>Camiseta estilo sub-urban 'Negra'.</p>
                    <p>$38.000</p>
                    <button>Agregar</button>
                </div>
            </div>
            <div class="producto">
                <div class="ropa">
                    <img src="../storage/img/camisetas/camiseta2.png">
                </div>
                <div class="descrip">
                    <p>Camiseta estilo basico animado 'Negra'.</p>
                    <p>$26.255</p>
                    <button>Agregar</button>
                </div>
            </div>
            <div class="producto">
                <div class="ropa">
                    <img src="../storage/img/camisetas/camiseta3.png">
                </div>
                <div class="descrip">
                    <p>Camiseta estilo basico 'Negra y Blanco'.</p>
                    <p>$29.900</p>
                    <button>Agregar</button>
                </div>
            </div>
            <div class="producto">
                <div class="ropa">
                    <img src="../storage/img/camisetas/camiseta4.png">
                </div>
                <div class="descrip">
                    <p>Camisa bicolor 'Marron y Negro'</p>
                    <p>$32.850</p>
                    <button>Agregar</button>
                </div>
            </div>
            <div class="producto">
                <div class="ropa">
                    <img src="../storage/img/camisetas/camiseta5.png">
                </div>
                <div class="descrip">
                    <p>Camiseta de Nezuko Kamad Demon Slayer</p>
                    <p>$29.900</p>
                    <button>Agregar</button>
                </div>
            </div>
            <div class="producto">
                <div class="ropa">
                    <img src="../storage/img/pantalones/pantalon1.png">
                </div>
                <div class="descrip">
                    <p>Pantalon En Dril Unisex 'Cafe'.</p>
                    <p>$58.900</p>
                    <button>Agregar</button>
                </div>
            </div>
            <div class="producto">
                <div class="ropa">
                    <img src="../storage/img/pantalones/pantalon2.png">
                </div>
                <div class="descrip">
                    <p>Pantalón Bota plana de Mujer 'Negro'.</p>
                    <p>$104.500</p>
                    <button>Agregar</button>
                </div>
            </div>
            <div class="producto">
                <div class="ropa">
                    <img src="../storage/img/pantalones/pantalon3.png">
                </div>
                <div class="descrip">
                    <p>Pantalón bombacho licrado para mujer 'Crema'.</p>
                    <p>$104.500</p>
                    <button>Agregar</button>
                </div>
            </div>
            <div class="producto">
                <div class="ropa">
                    <img src="../storage/img/pantalones/pantalon4.png">
                </div>
                <div class="descrip">
                    <p>Pantalón Jeans No Entubado Para Hombre 'Azul Claro'.</p>
                    <p>$61.750</p>
                    <button>Agregar</button>
                </div>
            </div>
            <div class="producto">
                <div class="ropa">
                    <img src="../storage/img/pantalones/pantalon5.png">
                </div>
                <div class="descrip">
                    <p>Pantalon En Dril Bota Recta Unisex 'Azul Oscuro'</p>
                    <p>$89.990</p>
                    <button>Agregar</button>
                </div>
            </div>
        </div>
    </section>
</body>
</html>